* {
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    padding: 25px 50px 75px;
    margin: 25px;
}

.btn {
    text-align: center;
    justify-content: center;
    margin: 100px;
}